In [2]:
import datafusion
from datafusion import SessionContext

In [3]:
con = SessionContext()

In [4]:
con.register_parquet("hourly","/home/christianocean/datafusion-quickstart/data/examples/hourly_weather_asset/file_1.parquet")

In [5]:
df = con.sql(
    "select count(*) from hourly"
)
df.show()

DataFrame()
+----------+
| count(*) |
+----------+
| 23376    |
+----------+

In [ ]:
sql_query = """
SELECT count(*) from hourly
"""